n8n/workflows/api-spec-notification.json
{
  "name": "New API Spec Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-spec-notification",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "api-spec-notification"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equal",
              "value2": "created"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "admin@specrepo.com",
        "subject": "🆕 New API Specification Created: {{ $json.specification_name }}",
        "text": "Hello,\n\nA new API specification has been created:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Created by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8001/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-created-email",
      "name": "Send Created Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "admin@specrepo.com",
        "subject": "📝 API Specification Updated: {{ $json.specification_name }}",
        "text": "Hello,\n\nAn API specification has been updated:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Updated by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8001/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\n⚠️ **Important:** Please review the changes and update any dependent services or documentation as needed.\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-updated-email",
      "name": "Send Updated Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Notification processed\",\n  \"event_type\": \"{{ $json.event_type }}\",\n  \"specification_id\": {{ $json.specification_id }}\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Send Created Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Updated Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Created Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Updated Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "api-spec-notification-workflow",
  "meta": {
    "instanceId": "specrepo-n8n"
  },
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "api-notifications",
      "name": "API Notifications"
    }
  ]
}
