n8n/workflows/unified-notification.json
{
  "name": "Unified Notification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "unified-notification"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "created",
              "output": 0
            },
            {
              "value2": "updated",
              "output": 1
            },
            {
              "value2": "validation_completed",
              "output": 2
            },
            {
              "value2": "validation_failed",
              "output": 3
            }
          ]
        }
      },
      "id": "route-by-event-type",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "🆕 New API Specification Created: {{ $json.specification_name }}",
        "text": "Hello,\n\nA new API specification has been created:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Created by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-spec-created-email",
      "name": "Send Spec Created Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "📝 API Specification Updated: {{ $json.specification_name }}",
        "text": "Hello,\n\nAn API specification has been updated:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Updated by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\n⚠️ **Important:** Please review the changes and update any dependent services or documentation as needed.\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-spec-updated-email",
      "name": "Send Spec Updated Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "✅ Validation Completed: {{ $json.specification_name }}",
        "text": "Hello,\n\nA validation run has completed successfully:\n\n📋 **Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Validation Run ID: {{ $json.validation_run_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n📊 **Validation Statistics:**\n- Total Tests: {{ $json.validation_statistics.total_tests }}\n- Passed Tests: {{ $json.validation_statistics.passed_tests }}\n- Failed Tests: {{ $json.validation_statistics.failed_tests }}\n- Success Rate: {{ $json.validation_statistics.success_rate }}%\n- Execution Time: {{ $json.validation_statistics.execution_time }}s\n- Error Count: {{ $json.validation_statistics.error_count }}\n\n🔗 **Quick Actions:**\n- View validation results: http://localhost:5173/validations/{{ $json.validation_run_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\nThis notification was automatically generated by the SpecRepo validation system.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-validation-completed-email",
      "name": "Send Validation Completed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "❌ Validation Failed: {{ $json.specification_name }}",
        "text": "Hello,\n\nA validation run has failed:\n\n📋 **Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Validation Run ID: {{ $json.validation_run_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n📊 **Validation Statistics:**\n- Total Tests: {{ $json.validation_statistics.total_tests }}\n- Passed Tests: {{ $json.validation_statistics.passed_tests }}\n- Failed Tests: {{ $json.validation_statistics.failed_tests }}\n- Success Rate: {{ $json.validation_statistics.success_rate }}%\n- Execution Time: {{ $json.validation_statistics.execution_time }}s\n- Error Count: {{ $json.validation_statistics.error_count }}\n\n⚠️ **Failure Information:**\n{{#if $json.validation_results.error}}\n- Error: {{ $json.validation_results.error }}\n{{/if}}\n\n🔗 **Quick Actions:**\n- View validation results: http://localhost:5173/validations/{{ $json.validation_run_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n⚠️ **Important:** Please review the validation failure and check the provider implementation or configuration.\n\nThis notification was automatically generated by the SpecRepo validation system.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-validation-failed-email",
      "name": "Send Validation Failed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Notification processed successfully\",\n  \"event_type\": \"{{ $json.event_type }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Send Spec Created Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Spec Updated Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Completed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Failed Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Spec Created Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Spec Updated Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Completed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Failed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "unified-notification-workflow",
  "meta": {
    "instanceId": "specrepo-n8n"
  },
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "unified-notifications",
      "name": "Unified Notifications"
    }
  ]
}
