n8n/workflows/unified-notification.json
{
  "name": "Unified Notification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notification",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "unified-notification"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event_type }}",
        "rules": {
          "rules": [
            {
              "value2": "created",
              "output": 0
            },
            {
              "value2": "updated",
              "output": 1
            },
            {
              "value2": "validation_completed",
              "output": 2
            },
            {
              "value2": "validation_failed",
              "output": 3
            },
            {
              "value2": "contract_validation_completed",
              "output": 4
            },
            {
              "value2": "contract_validation_failed",
              "output": 5
            },
            {
              "value2": "har_processing_completed",
              "output": 6
            },
            {
              "value2": "har_processing_failed",
              "output": 7
            },
            {
              "value2": "har_review_requested",
              "output": 8
            }
          ]
        }
      },
      "id": "route-by-event-type",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "🆕 New API Specification Created: {{ $json.specification_name }}",
        "text": "Hello,\n\nA new API specification has been created:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Created by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-spec-created-email",
      "name": "Send Spec Created Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "📝 API Specification Updated: {{ $json.specification_name }}",
        "text": "Hello,\n\nAn API specification has been updated:\n\n📋 **Specification Details:**\n- Name: {{ $json.specification_name }}\n- Version: {{ $json.version_string }}\n- ID: {{ $json.specification_id }}\n- Updated by User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔗 **Quick Actions:**\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n📊 **OpenAPI Summary:**\n- Title: {{ $json.openapi_content.info.title || 'N/A' }}\n- Description: {{ $json.openapi_content.info.description || 'No description provided' }}\n- Version: {{ $json.openapi_content.info.version || 'N/A' }}\n\n⚠️ **Important:** Please review the changes and update any dependent services or documentation as needed.\n\nThis notification was automatically generated by the SpecRepo platform.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-spec-updated-email",
      "name": "Send Spec Updated Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "✅ Validation Completed: {{ $json.specification_name }}",
        "text": "Hello,\n\nA validation run has completed successfully:\n\n📋 **Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Validation Run ID: {{ $json.validation_run_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n📊 **Validation Statistics:**\n- Total Tests: {{ $json.validation_statistics.total_tests }}\n- Passed Tests: {{ $json.validation_statistics.passed_tests }}\n- Failed Tests: {{ $json.validation_statistics.failed_tests }}\n- Success Rate: {{ $json.validation_statistics.success_rate }}%\n- Execution Time: {{ $json.validation_statistics.execution_time }}s\n- Error Count: {{ $json.validation_statistics.error_count }}\n\n🔗 **Quick Actions:**\n- View validation results: http://localhost:5173/validations/{{ $json.validation_run_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\nThis notification was automatically generated by the SpecRepo validation system.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-validation-completed-email",
      "name": "Send Validation Completed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "❌ Validation Failed: {{ $json.specification_name }}",
        "text": "Hello,\n\nA validation run has failed:\n\n📋 **Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Validation Run ID: {{ $json.validation_run_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n📊 **Validation Statistics:**\n- Total Tests: {{ $json.validation_statistics.total_tests }}\n- Passed Tests: {{ $json.validation_statistics.passed_tests }}\n- Failed Tests: {{ $json.validation_statistics.failed_tests }}\n- Success Rate: {{ $json.validation_statistics.success_rate }}%\n- Execution Time: {{ $json.validation_statistics.execution_time }}s\n- Error Count: {{ $json.validation_statistics.error_count }}\n\n⚠️ **Failure Information:**\n{{#if $json.validation_results.error}}\n- Error: {{ $json.validation_results.error }}\n{{/if}}\n\n🔗 **Quick Actions:**\n- View validation results: http://localhost:5173/validations/{{ $json.validation_run_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\n⚠️ **Important:** Please review the validation failure and check the provider implementation or configuration.\n\nThis notification was automatically generated by the SpecRepo validation system.\n\nBest regards,\nSpecRepo Notification System",
        "options": {}
      },
      "id": "send-validation-failed-email",
      "name": "Send Validation Failed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "🏥 Contract Validation Completed: {{ $json.specification_name }} - {{ $json.contract_health_status }}",
        "text": "Hello,\n\nA contract validation has completed:\n\n📋 **Contract Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Contract Validation ID: {{ $json.contract_validation_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n🏥 **Contract Health Assessment:**\n- Health Status: {{ $json.contract_health_status }}\n- Health Score: {{ $json.health_score }}/1.0\n{{#if $json.contract_health_status === 'HEALTHY'}}\n- ✅ Contract is healthy and functioning well\n{{else if $json.contract_health_status === 'DEGRADED'}}\n- ⚠️ Contract has some issues but is still functional\n{{else}}\n- ❌ Contract is broken and requires immediate attention\n{{/if}}\n\n📊 **Producer Validation Results:**\n- Total Tests: {{ $json.validation_summary.producer_validation.total_tests }}\n- Passed Tests: {{ $json.validation_summary.producer_validation.passed_tests }}\n- Failed Tests: {{ $json.validation_summary.producer_validation.failed_tests }}\n- Error Count: {{ $json.validation_summary.producer_validation.error_count }}\n- Execution Time: {{ $json.validation_summary.producer_validation.execution_time }}s\n\n🔗 **Mock Alignment Results:**\n- Total Endpoints: {{ $json.validation_summary.mock_alignment.total_endpoints }}\n- Aligned Endpoints: {{ $json.validation_summary.mock_alignment.aligned_endpoints }}\n- Schema Mismatches: {{ $json.validation_summary.mock_alignment.schema_mismatches }}\n- Alignment Rate: {{ $json.validation_summary.mock_alignment.alignment_rate }}%\n\n💡 **Recommendations:**\n{{#each $json.recommendations}}\n- {{ this }}\n{{/each}}\n\n🔗 **Quick Actions:**\n- View contract validation: http://localhost:5173/contract-validations/{{ $json.contract_validation_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- API Documentation: http://localhost:8000/docs\n\nThis notification was automatically generated by the SpecRepo contract validation system.\n\nBest regards,\nSpecRepo Contract Validation System",
        "options": {}
      },
      "id": "send-contract-validation-completed-email",
      "name": "Send Contract Validation Completed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 650]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "❌ Contract Validation Failed: {{ $json.specification_name }}",
        "text": "Hello,\n\nA contract validation has failed:\n\n📋 **Contract Validation Details:**\n- Specification: {{ $json.specification_name }}\n- Provider URL: {{ $json.provider_url }}\n- Contract Validation ID: {{ $json.contract_validation_id }}\n- Specification ID: {{ $json.specification_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.status }}\n- Timestamp: {{ $json.timestamp }}\n\n❌ **Failure Information:**\n{{#if $json.validation_summary.error}}\n- Error: {{ $json.validation_summary.error }}\n{{/if}}\n- Health Status: {{ $json.contract_health_status || 'UNKNOWN' }}\n- Health Score: {{ $json.health_score || 0 }}/1.0\n\n📊 **Available Results:**\n{{#if $json.producer_validation_results}}\n- Producer validation was attempted\n{{/if}}\n{{#if $json.mock_alignment_results}}\n- Mock alignment check was attempted\n{{/if}}\n\n💡 **Recommendations:**\n{{#each $json.recommendations}}\n- {{ this }}\n{{/each}}\n{{#unless $json.recommendations}}\n- Check provider URL connectivity\n- Verify API specification is correct\n- Review authentication configuration\n- Check mock deployment status\n{{/unless}}\n\n🔗 **Quick Actions:**\n- View contract validation: http://localhost:5173/contract-validations/{{ $json.contract_validation_id }}\n- View specification: http://localhost:5173/specifications/{{ $json.specification_id }}\n- Retry validation: http://localhost:5173/contract-validations/{{ $json.contract_validation_id }}/retry\n- API Documentation: http://localhost:8000/docs\n\n⚠️ **Important:** Please review the failure details and address the issues before retrying the contract validation.\n\nThis notification was automatically generated by the SpecRepo contract validation system.\n\nBest regards,\nSpecRepo Contract Validation System",
        "options": {}
      },
      "id": "send-contract-validation-failed-email",
      "name": "Send Contract Validation Failed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 750]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "🎉 HAR Processing Completed: {{ $json.file_name }}",
        "text": "Hello,\n\nHAR file processing has completed successfully:\n\n📋 **Processing Details:**\n- File Name: {{ $json.file_name }}\n- Upload ID: {{ $json.upload_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.processing_status }}\n- Timestamp: {{ $json.timestamp }}\n\n📊 **Processing Statistics:**\n- Interactions Found: {{ $json.processing_statistics.interactions_count }}\n- Processed Interactions: {{ $json.processing_statistics.processed_interactions_count }}\n- OpenAPI Paths Generated: {{ $json.processing_statistics.openapi_paths_count }}\n- WireMock Stubs Generated: {{ $json.processing_statistics.wiremock_stubs_count }}\n- Processing Progress: {{ $json.processing_statistics.processing_progress }}%\n\n🔧 **Generated Artifacts:**\n- OpenAPI Specification: {{ $json.artifacts_summary.openapi_available ? '✅ Available' : '❌ Not Available' }}\n- WireMock Mappings: {{ $json.artifacts_summary.wiremock_available ? '✅ Available' : '❌ Not Available' }}\n{{#if $json.artifacts_summary.openapi_available}}\n- API Title: {{ $json.artifacts_summary.openapi_title }}\n- API Version: {{ $json.artifacts_summary.openapi_version }}\n{{/if}}\n\n🔗 **Quick Actions:**\n- View HAR Upload: http://localhost:5173/har-uploads/{{ $json.upload_id }}\n- Download Artifacts: http://localhost:5173/har-uploads/{{ $json.upload_id }}/artifacts\n- API Documentation: http://localhost:8000/docs\n\nYour HAR file has been successfully processed and API specifications are ready for use!\n\nBest regards,\nSpecRepo HAR Processing System",
        "options": {}
      },
      "id": "send-har-completed-email",
      "name": "Send HAR Completed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 850]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "❌ HAR Processing Failed: {{ $json.file_name }}",
        "text": "Hello,\n\nHAR file processing has failed:\n\n📋 **Processing Details:**\n- File Name: {{ $json.file_name }}\n- Upload ID: {{ $json.upload_id }}\n- User ID: {{ $json.user_id }}\n- Status: {{ $json.processing_status }}\n- Timestamp: {{ $json.timestamp }}\n\n❌ **Error Information:**\n- Error Message: {{ $json.error_message || 'Unknown error occurred' }}\n\n📊 **Processing Statistics:**\n- Interactions Found: {{ $json.processing_statistics.interactions_count || 0 }}\n- Processing Progress: {{ $json.processing_statistics.processing_progress || 0 }}%\n- Steps Completed: {{ $json.processing_statistics.processing_steps_completed || 0 }}/{{ $json.processing_statistics.total_processing_steps || 0 }}\n\n🔗 **Quick Actions:**\n- View HAR Upload: http://localhost:5173/har-uploads/{{ $json.upload_id }}\n- Try Processing Again: http://localhost:5173/har-uploads/{{ $json.upload_id }}/reprocess\n- Contact Support: http://localhost:5173/support\n- API Documentation: http://localhost:8000/docs\n\n⚠️ **Important:** Please check the HAR file format and try processing again. If the issue persists, contact support.\n\nBest regards,\nSpecRepo HAR Processing System",
        "options": {}
      },
      "id": "send-har-failed-email",
      "name": "Send HAR Failed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 950]
    },
    {
      "parameters": {
        "fromEmail": "noreply@specrepo.com",
        "toEmail": "altug@aecoffice.com",
        "subject": "🔍 HAR Artifacts Review Requested: {{ $json.file_name }}",
        "text": "Hello,\n\nA review has been requested for AI-generated HAR processing artifacts:\n\n📋 **Review Details:**\n- File Name: {{ $json.file_name }}\n- Upload ID: {{ $json.upload_id }}\n- User ID: {{ $json.user_id }}\n- Timestamp: {{ $json.timestamp }}\n\n🔧 **Generated Artifacts Summary:**\n- OpenAPI Specification: {{ $json.artifacts_summary.openapi_available ? '✅ Generated' : '❌ Not Generated' }}\n- WireMock Mappings: {{ $json.artifacts_summary.wiremock_available ? '✅ Generated' : '❌ Not Generated' }}\n{{#if $json.artifacts_summary.openapi_available}}\n- API Title: {{ $json.artifacts_summary.openapi_title }}\n- API Version: {{ $json.artifacts_summary.openapi_version }}\n- Paths Count: {{ $json.artifacts_summary.openapi_paths_count }}\n{{/if}}\n{{#if $json.artifacts_summary.wiremock_available}}\n- WireMock Stubs Count: {{ $json.artifacts_summary.wiremock_stubs_count }}\n{{/if}}\n\n📊 **Processing Statistics:**\n- Interactions Processed: {{ $json.processing_statistics.processed_interactions_count }}\n- AI Processing Applied: {{ $json.processing_statistics.processing_options.enable_ai_processing ? 'Yes' : 'No' }}\n- Data Generalization: {{ $json.processing_statistics.processing_options.enable_data_generalization ? 'Yes' : 'No' }}\n\n🔗 **Review Actions:**\n- Review Artifacts: {{ $json.review_url }}\n- View HAR Upload: http://localhost:5173/har-uploads/{{ $json.upload_id }}\n- Download Artifacts: http://localhost:5173/har-uploads/{{ $json.upload_id }}/artifacts\n- API Documentation: http://localhost:8000/docs\n\n⚠️ **Important:** Please review the AI-generated artifacts for accuracy and completeness. Approve or request modifications as needed.\n\nBest regards,\nSpecRepo Review System",
        "options": {}
      },
      "id": "send-har-review-email",
      "name": "Send HAR Review Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 1050]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Notification processed successfully\",\n  \"event_type\": \"{{ $json.event_type }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Send Spec Created Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Spec Updated Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Completed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Validation Failed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Contract Validation Completed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Contract Validation Failed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send HAR Completed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send HAR Failed Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send HAR Review Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Spec Created Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Spec Updated Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Completed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Validation Failed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contract Validation Completed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Contract Validation Failed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HAR Completed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HAR Failed Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HAR Review Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "unified-notification-workflow",
  "meta": {
    "instanceId": "specrepo-n8n"
  },
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "name": "specrepo"
    }
  ]
}
